<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>55563C76-A25F-427B-AD8F-2D06B021C547</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>arch</string>
			<key>text</key>
			<string>Arch Wiki</string>
			<key>url</key>
			<string>https://wiki.archlinux.org/index.php?title=Special:Search&amp;search=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5BB58A5E-F97D-43A0-A4DA-BB825FB90D2D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gs</string>
			<key>text</key>
			<string>Gists</string>
			<key>url</key>
			<string>https://gist.github.com/search?ref=opensearch&amp;q=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AE8C28FF-BC40-47A3-AB50-5F16574D4A70</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gl</string>
			<key>text</key>
			<string>Gitlab@CJ</string>
			<key>url</key>
			<string>https://gitlab.cj.dev/search?search=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BEBCE3E8-6A17-4FA4-B6FD-7F212A939BB9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>p</string>
			<key>text</key>
			<string>CJ Pa</string>
			<key>url</key>
			<string>https://pad.cj.dev/p/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D1413981-AF6A-4A7C-A2F1-45E38BF04D4C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/search?ref=opensearch&amp;q=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D27B7CB9-E096-4B79-9E50-A25B415231F0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>StackOverflow</string>
			<key>url</key>
			<string>http://stackoverflow.com/search?q=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DEDCE424-0525-4B26-91F7-EB896945197A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>h</string>
			<key>text</key>
			<string>Hoogle</string>
			<key>url</key>
			<string>https://www.haskell.org/hoogle/?hoogle=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EBFC5AF7-3B23-484C-8659-F49334AA2470</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ym</string>
			<key>text</key>
			<string>Youtube Music</string>
			<key>url</key>
			<string>https://music.youtube.com/search?utm_source=opensearch&amp;q=</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
